<div class="navbar">
  <div class="left-section">
    <span class="icon material-icons">apps</span>
    <span class="workspace-name">(POLY) Poly Games</span>
    <span class="icon material-icons">visibility</span>
    <span class="workspace-status">Çalışma Alanında görünür</span>
    <button class="board-button">
      <span class="icon material-icons">dashboard</span>
      Pano
    </button>
  </div>

  <div class="right-section">
    <span class="icon material-icons">notifications</span>
    <span class="menu-item">Agile Tools</span>
    <span class="menu-item">Get started with Agile Tools</span>
    <span class="menu-item">Power-Up</span>
  </div>
</div>

<div class="todo">
  <div class="board">
    <app-column
      *ngFor="let column of columns; let i = index"
      [column]="column"
      [columnIndex]="i"
      [columns]="columns"
    >
    </app-column>
  </div>

  <div class="column-add">
    <input [(ngModel)]="newColumnTitle" placeholder="Yeni kolon ekleyin" />
    <button (click)="addColumn()">
      <span class="material-icons">check</span>
    </button>
  </div>
</div>
